#nav {
    background-color: #123E7C   ;
    height: 60px;
    width: auto;
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#navigation {
    display: flex;
    margin: auto;
}

#logo {
    background-color: grey;
    height: 50px;
    width: 50px;
    min-width: 50px;
    min-height: 50px;
    margin-left: 20px ;
}

#navigation p {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
} 

#login {
    color: white;
    margin-right: 20px;
}

/* Hover Effect: #5DADE2 */